ALLOWED_USER_IDS=111111111,222222222
ALLOWED_GROUP_ID=-1001234567890
BOT_TOKEN=REPLACE_WITH_BOT_TOKEN
ADMIN_USERNAME=REPLACE_WITH_ADMIN_USERNAME
ADMIN_PASSWORD=REPLACE_WITH_ADMIN_PASSWORD
ADMIN_URL=https://admin.vargus.tech/login
ACCOUNTS_URL=https://admin.vargus.tech/accounts
PROXIES_URL=https://admin.vargus.tech/proxies
PROXY_HEALTH_URL=https://admin.vargus.tech/api/proxies/health
ACCOUNT_PAGE_SIZE=10
CACHE_TTL_SECONDS=45
STRICT_HEALTH_SCORING=false
USE_CONTEXT_FILE=false
